In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('Homeprice_Prediction.csv')
#pd.set_option('display.max_rows', df.shape[0] + 1)
df.head()

   area  bedroom  age          price
0  6000        5   30  913690.516649
1  3500        2   19  598916.668555
2  4200        6   50  670732.643058
3  2100       10   28  600054.829282
4  3400        4   32  592475.851704

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X = df.drop('price', axis = 1)
X

    area  bedroom  age
0   6000        5   30
1   3500        2   19
2   4200        6   50
3   2100       10   28
4   3400        4   32
5   5000        6   28
6   2000        2   21
7   2600        3   50
8   4100        3   46
9   4500        5    8
10  3900        4   18
11  6200        4   10
12  4390        6   12

In [5]:
y = df['price']
y

0     913690.516649
1     598916.668555
2     670732.643058
3     600054.829282
4     592475.851704
5     831480.390602
6     424359.569824
7     421266.095717
8     602286.630265
9     816694.647726
10    693751.123396
11    977348.483132
12    814829.787555
Name: price, dtype: float64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8)
X_train

    area  bedroom  age
7   2600        3   50
1   3500        2   19
0   6000        5   30
2   4200        6   50
8   4100        3   46
5   5000        6   28
6   2000        2   21
9   4500        5    8
3   2100       10   28
11  6200        4   10

In [7]:
import time
from sklearn import linear_model
reg=linear_model.LinearRegression()

start = time.time()
reg.fit(X_train, y_train)
stop = time.time()

print(f'Training Time: {stop - start}s')

Training Time: 0.4467153549194336s

In [8]:
from sklearn.tree import DecisionTreeRegressor
model = DecisionTreeRegressor()

start = time.time()
model.fit(X_train, y_train)
stop = time.time()

print(f'Training Time: {stop - start}s')

Training Time: 0.004049062728881836s

In [10]:
from sklearn.neighbors import KNeighborsRegressor

regressor = KNeighborsRegressor(n_neighbors = 5)

start = time.time()
regressor.fit(X_train, y_train)
stop = time.time()

print(f'Training Time: {stop - start}s')

Training Time: 0.004038572311401367s

In [11]:
from sklearn.svm import SVC

sv = SVC(kernel = 'linear')

start = time.time()
sv.fit(X_train, y_train)
stop = time.time()

print(f'Training Time: {stop - start}s')

ValueError: Unknown label type: 'continuous'