In [1]:
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
df=pd.read_csv('insurance_data.csv')
df.head()

   age  bought_insurance
0   22                 0
1   25                 0
2   47                 1
3   52                 0
4   46                 1

In [4]:
df.shape

(27, 2)

### Using Pandas sample function

In [3]:
training_data = df.sample(frac = 0.8, random_state = 25)
testing_data = df.drop(training_data.index)

print(f'No of training examples: {training_data.shape[0]}')
print(f'No of testing examples: {testing_data.shape[0]}')

No of training examples: 22
No of testing examples: 5

### Using Scikit learn

In [11]:
from sklearn.model_selection import train_test_split

training_data, testing_data = train_test_split(df, test_size = 0.2 , random_state = 42)

print(f'No of training examples: {training_data.shape[0]}')
print(f'No of testing examples: {testing_data.shape[0]}')

No of training examples: 21
No of testing examples: 6

### Using Numpy

In [10]:
mask = np.random.rand(len(df)) == 0.8
training_data = df[mask]
teasing_data = df[~mask]

print(f'No of training examples: {training_data.shape[0]}')
print(f'No of testing examples: {testing_data.shape[0]}')

No of training examples: 0
No of testing examples: 6