In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plot
%matplotlib inline

In [2]:
df=pd.read_csv('HR_comma_sep.csv')
#pd.set_option('display.max_rows', df.shape[0] + 1)
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
X = df.drop(['last_evaluation', 'number_project', 'time_spend_company', 'Department', 'salary', 'left'], axis = 'columns')
X

,satisfaction_level,average_montly_hours,Work_accident,promotion_last_5years
0,0.38,157,0,0
1,0.80,262,0,0
2,0.11,272,0,0
3,0.72,223,0,0
4,0.37,159,0,0
...,...,...,...,...
14994,0.40,151,0,0
14995,0.37,160,0,0
14996,0.37,143,0,0
14997,0.11,280,0,0
14998,0.37,158,0,0

In [5]:
y = df['left']
y

0        1
1        1
2        1
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: left, Length: 14999, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
#X_train

In [8]:
import time

In [11]:
from sklearn.svm import SVC

sv = SVC(kernel = 'linear')
sv.fit(X_train, y_train)

SVC(kernel='linear')

In [12]:
y_predicted = sv.predict(X_test)
y_predicted

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

In [13]:
y_test

4227     0
332      1
8639     0
13096    0
5880     0
        ..
8101     0
1125     1
9103     0
6999     0
799      1
Name: left, Length: 3000, dtype: int64

In [14]:
from sklearn import metrics

In [15]:
metrics.accuracy_score(y_test, y_predicted)

0.7563333333333333

In [16]:
metrics.f1_score(y_test, y_predicted)

0.34321653189577717

In [18]:
arr = np.array([[0.94, 100, 0, 2], [0.14, 800, 1, 0], [0.67, 500, 0, 1], [0, 800, 1, 0]])
sv.predict(arr)

array([0, 1, 0, 1], dtype=int64)